
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
    
    .panel {
        width: 80%;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
    
    .panel h2, .panel h3, .panel h4, .panel h5 {
        color: #333;
    }
    
    .panel h2, .panel h4 {
        text-align: center;
    }
    
    .panel h3 {
        color: #666;
        margin-top: 20px;
    }
    
    .panel p {
        line-height: 1.6;
        
    }
    
    .panel a {
        color: #0088cc;
        text-decoration: none;
    }
    
    .panel a:hover {
        text-decoration: underline;
    }
    
    .panel ul {
        padding-left: 20px;
    }
    .panel .subtitulo{
        padding-left: 20px;
    }

</style>

<!-- curriculo -->
<article id="curriculo" class="panel">
    <h2>Curriculo</h2>
    <h4>
        <a href="https://docs.google.com/document/d/1jesJ0pQFrvz9rhJ-LvJwu-YsLQvgZZZ4iaqme8lLtcA/edit?usp=sharing" download="curriculo.pdf">Baixar Currículo</a>
    </h4>
    <div id="informacoes-pessoais" style="display: flex; justify-content: center;padding: 30px">
        <div>
            <h3>Informações Pessoais</h3>
            <p>Nome: Mizael Douglas de Mello </p>
            <p>Idade: 30 anos </p>
            <p>Endereço: Jd Granja Machado, Limeira/SP </p>
            <p>Telefone: (19) 99528-3104 </p>
        </div>
        <div style="display: flex; flex-direction: column; margin-left: 30px">
            <h3>Links de Contato</h3>
            <a href="https://www.linkedin.com/in/mizaeldouglas/" target="_blank">LinkedIn</a>
            <a href="mailto:mizaeldouglas2@gmail.com" target="_blank">Email: mizaeldouglas2@gmail.com</a>
            <a href="https://www.mizaeldouglas.com.br" target="_blank">Website Pessoal</a>
            <a href="https://github.com/Mizaeldouglas" target="_blank">GitHub</a>
        </div>
    </div>



    <div id="objetivo-profissional">
        <h3>Objetivo Profissional</h3>
        <p class="subtitulo">Programador C# experiente buscando oportunidades em desenvolvimento de sistemas web escaláveis e eficientes, utilizando tecnologias como .NET, SQL Server, HTML, CSS, JavaScript e Docker.</p>
    </div>


    <div id="resumo-profissional">
        <h3>Resumo Profissional</h3>
        <p class="subtitulo">Programador back-end com sólida experiência em C#, .NET e SQL Server, com foco no desenvolvimento de aplicações web e APIs robustas e escaláveis. Expertise em integração de sistemas, bancos de dados e metodologias ágeis. Possui histórico de projetos bem-sucedidos em e-commerce, sites institucionais e vitrines. Domina linguagens como HTML, CSS, JavaScript (incluindo jQuery), MySql e Azure.</p>
    </div>


    <div id="formacao-academica">
        <h3>Formação Acadêmica</h3>
        <p class="subtitulo">2024 - Curso Superior em Tecnologia em Análise e Desenvolvimento de Sistemas - Descomplica</p>
    </div>


    <div id="experiencia-profissional">
        <h3>Experiência Profissional</h3>
        <h3>Freelance - dezembro/2022 à presente</h3>

        <p class="subtitulo">Desenvolvedor web responsável por:</p>
        <p class="subtitulo">Sistemas em PHP/Laravel</p>
        <p class="subtitulo">Sistemas Wordpress</p>
        <p class="subtitulo">Bancos de dados MySQL</p>
        <p class="subtitulo">Integração com APIs</p>
        <p class="subtitulo">Desenvolvimento de interfaces HTML, CSS e Javascript</p>
    </div>


    <div id="habilidades">
        <h3>Habilidades</h3>
        <h3>Linguagens de Programação</h3>
        <p class="subtitulo">C# (avançado)</p>
        <p class="subtitulo">Java/Spring Boot (intermediário)</p>
        <p class="subtitulo">PHP/Laravel (avançado)</p>
        <p class="subtitulo">Javascript/React JS (intermediário)</p>
        <h3>Outras Habilidades</h3>
        <p class="subtitulo">HTML, CSS, Javascript</p>
        <p class="subtitulo">MySQL, SQL Server</p>
        <p class="subtitulo">Azure</p>
        <p class="subtitulo">Integração de sistemas</p>
        <p class="subtitulo">Metodologias ágeis (Scrum, Kanban)</p>
        <p class="subtitulo">Docker</p>
    </div>


    <div id="idiomas">
        <h3>Idiomas</h3>
        <p class="subtitulo">Inglês - básico</p>
    </div>
    <div id="formacao-complementar">
        <h3>Formação Complementar</h3>
        <p class="subtitulo">REST API's do 0 à Azure com ASP.NET 8 e 5 e Docker - Udemy (Em andamento)</p>
        <p class="subtitulo">C#: criando sua primeira aplicação - Alura (Concluído)</p>
        <p class="subtitulo">.NET 6 WEB API - Do zero ao avançado - Udemy (12h)</p>
        <p class="subtitulo">C#: aplicando a Orientação a Objetos - Alura (Concluído)</p>
    </div>

    <div id="informacoes-adicionais">
        <h3>Informações Adicionais</h3>
        <p class="subtitulo">Domínio de linguagem Java / Spring Boot</p>
        <p class="subtitulo">Domínio de linguagem PHP / Laravel</p>
        <p class="subtitulo">Domínio em criar sites com WordPress</p>
        <p class="subtitulo">Domínio de linguagem Javascript / React JS</p>
        <p class="subtitulo">Experiência em projetos de e-commerce, sites institucionais e vitrines</p>
        <p class="subtitulo">Expertise em Docker e banco de dados</p>
        <p class="subtitulo">Habilidades interpessoais e de comunicação excepcionais</p>
        <p class="subtitulo">Capacidade de trabalhar de forma independente e em equipe</p>
        <p class="subtitulo">Aprendiz rápido e adaptável a novas tecnologias</p>
    </div>

</article>