

<article id="home" class="panel intro">
    <header>
        <h1>Mizael Douglas</h1>
        <p>Desenvolvedor Full-Stack</p>
    </header>
    <a href="#work" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right">
            <span>Meus Projetos</span>
        </span>
        <img src="~/images/IMG_20220505_092226_500.webp" alt=""/>
    </a>
</article>