@{
    ViewData["Title"] = "Mizael Douglas";
}
<!-- Nav -->
<nav id="nav">
    <a href="#" class="icon solid fa-home">
        <span>Home</span>
    </a>
    <a href="#work" class="icon solid fa-folder">
        <span>Projetos</span>
    </a>
    <a href="#contact" class="icon solid fa-envelope">
        <span>Contato</span>
    </a>

    <a href="#curriculo" class="icon solid fa-download">
        <span>Curriculo</span>
    </a>
</nav>

<!-- Main -->
<div id="main">

<!-- Home -->
<partial name="Home/Me/Me"  />

<!-- Work -->
<partial name="Home/Work/Work"/>

<!-- Contact -->
<partial name="Home/Contact/Contact"/>

<!-- Curriculo -->
<partial name="Home/Curriculo/Index"/>


</div>

<!-- Footer -->
<div id="footer">
    <ul class="copyright">
        <li>&copy; Copyright <a href="https://mizaeldouglas.com.br">MizaelDouglas.</a> All Rights Reserved </li>
    </ul>
</div>